em {
  font-style: italic;
}

h2,
h3,
h4 {
  font-weight: 400;
}

h3,
h4 {
  text-align: center;
}

.presentation p {
  font-size: 1.8rem;
  line-height: 1.66em;
}

.projets p {
  margin-bottom: 1.5em;
}

strong {
  color: $headings-color;
}

ul {
  list-style: none;
  padding: 0;

  li {
    line-height: 1.5em;
    margin-left: 1.5em;
    padding-left: 40px;
    position: relative;

    &::before {
      background-image: url('../svg/code.svg');
      background-position: center center;
      background-repeat: no-repeat;
      content: ' ';
      display: inline-block;
      height: 20px;
      left: 0;
      position: absolute;
      top: 2px;
      width: 20px;
    }
  }
}

.extras li {
  margin-bottom: 1.5em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .inbl {
    display: block;
  }

  .w50 {
    margin: 0 auto;
    width: 85%;
  }
}
