.navigation--container {
  display: table;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.navigation--element {
  color: $base-color;
  display: table-cell;
  font-size: $base-font-size;
  height: 100px;
  outline: none;
  position: relative;
  text-decoration: none;
  transition: all .5s;
  vertical-align: middle;
  width: 100px;

  svg {
    height: 30px;
    transition: all .5s;
    width: 30px;

    path {
      fill: $base-color;
      transition: all .5s;
    }
  }

  span {
    background-color: $headings-color;
    border-radius: .33em;
    color: $secondary-color;
    display: block;
    left: calc(50% - 65px);
    line-height: 2em;
    opacity: 0;
    padding: 0 .75em;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: -1.5em;
    transition: all .66s;
    white-space: nowrap;
    width: 130px;
    z-index: 750;

    &::after {
      background-color: $headings-color;
      bottom: -5px;
      content: ' ';
      display: block;
      height: 10px;
      left: calc(50% - 5px);
      position: absolute;
      transform: rotate(45deg);
      width: 10px;
    }
  }

  &.inactif {
    svg {
      transform: scale(.75);
    }
  }

  &:hover,
  &:focus {
    span {
      opacity: 1;
      pointer-events: all;
    }

    svg {
      transform: scale(1.15);
    }

    path {
      fill: $headings-color;
    }
  }

  &.actif {
    svg {
      transform: scale(1.33);
    }
  }
}
