.modal {
  background-color: $base-background;
  border-radius: .66em;
  height: 660px;
  opacity: 0;
  overflow: auto;
  padding: 30px 30px 65px;
  pointer-events: none;
  position: fixed;
  transition: all 1s;
  visibility: hidden;
  width: 750px;
  z-index: 900;

  &.presentation {
    left: -110vw;
    top: calc(50% - 330px);
  }

  &.projets {
    left: 110vw;
    top: calc(50% - 330px);
  }

  &.extras {
    left: calc(50% - 375px);
    top: -110vh;
  }

  &.actif {
    left: calc(50% - 375px);
    opacity: 1;
    pointer-events: all;
    top: calc(50% - 330px);
    visibility: visible;
  }
}

.modal--close {
  border-radius: 50%;
  bottom: 0;
  display: block;
  height: 65px;
  left: calc(50% - 32px);
  outline: none;
  padding: 20px;
  position: absolute;
  transition: all .5s;
  width: 65px;

  &:hover,
  &:focus {
    background: $headings-color;

    svg {
      transform: scale(1.25);
    }
  }

  svg {
    height: 25px;
    transition: all .5s;
    width: 25px;
  }
}

.js--modal--close {
  display: none;
}

.js--modal {
  margin: 5em auto;
  width: 85%;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
