.header--container {
  height: calc(100vh - 100px);
  vertical-align: middle;
  width: 100vw;
}

.header--title {
  text-align: center;

  span::after {
    background-image: url('../svg/alsa.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
    display: inline-block;
    height: 30px;
    margin-left: -11px;
    vertical-align: 7px;
    width: 30px;
  }
}
